<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find fyp_project)/urdf/fyp_robot.urdf.xacro' "/>

<!--combine joint values-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

<!--show in RVIZ-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fyp_project)/launch/fyp_robotconfig.rviz"/>

<!--send joint values-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="True"/>
  </node>

</launch>